[submodule "ezplanner-api-deploy"]
	path = ezplanner-api-deploy
	url = git@github.com:EZPlanner/ezplanner-api-deploy.git
[submodule "ezplanner-react-client"]
	path = ezplanner-react-client
	url = git@github.com:EZPlanner/ezplanner-react-client.git
[submodule "ezplanner-api-gateway"]
	path = ezplanner-api-gateway
	url = git@github.com:EZPlanner/ezplanner-api-gateway.git
[submodule "ezplanner-planner-service"]
	path = ezplanner-planner-service
	url = git@github.com:EZPlanner/ezplanner-planner-service.git
[submodule "ezplanner-pdf-parser-service"]
	path = ezplanner-pdf-parser-service
	url = git@github.com:EZPlanner/ezplanner-pdf-parser-service.git
